/****************************/
/*       BASIC SETUP        */
/****************************/


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------ */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 20px;
}

h2 {
    font-size: 180%;
    text-transform: uppercase;
    word-spacing: 2px;
    margin-bottom: 30px;
    margin-top: 40px;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin: 30px;
    text-align: center;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: justify;
}


/* ------------------------------------------ */
/* PARAGRAPHS */
/* ------------------------------------------ */

.long-copy {
    text-align: center;
    line-height: 145%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
}

/* ------------------------------------------ */
/* BUTTONS */
/* ------------------------------------------ */

.btn:link,
/*botao normal*/
.btn:visited,
input[type=submit] {
    /* botao visitado*/
    display: inline-block;
    padding: 10px 30px;
    margin: 3px;
    font-weight: 300;
    /*espessura da linha*/
    text-decoration: none;
    /*tira o underline do hyperlink*/
    border-radius: 200px;
    /*arredondar a borda*/
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    /*o efeito ativa depois de 0.2s*/
}


.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 10px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
/*quando o mouse fica em cima*/
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    /*no momento do click*/
    background-color: #cf6d17;
    color: #fff;

}

.btn-invest:link,
/*botao normal*/
.btn-invest:visited {
    /* botao visitado*/
    display: inline-block;
    font-size: 100%;
    padding: 10px 30px;
    margin: 3px;
    font-weight: 300;
    /*espessura da linha*/
    text-decoration: none;
    /*tira o underline do hyperlink*/
    border-radius: 200px;
    /*arredondar a borda*/
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    /*o efeito ativa depois de 0.2s*/
}


.btn-full-invest:link,
.btn-full-invest:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 200px;
}

/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(energy_house.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(energy_house.jpg);
    /*escurecer a imagem*/
    background-size: cover;
    background-position: center;
    height: 100vh;
    /*cobrir toda a janela - 100% da viewport*/
}

.section-services {
    background-color: #f4f4f4;
}

.chamada {
    position: absolute;
    /*caracteres ficam posicionados de forma absoluta x,y*/
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*manha para centralizar*/
}

.logo {
    height: 100px;
    width: auto;
    float: left;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;

}

.icon {
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-left: 40%;
    margin-bottom: 10px;
}

/* ------------------------------------------ */
/* COMO FUNCIONA */
/* ------------------------------------------ */


.section-steps {
    background-color: #fff;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 70%;
}

.work-steps {
    margin-bottom: 50px;
}

.work-steps:last-of-type {
    margin-bottom: 80px;
}

.work-steps div {
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

/* ------------------------------------------ */
/* EXEMPLOS */
/* ------------------------------------------ */

.exemplos {
    padding: 0;
}

.lista-exemplos {
    list-style: none;
    width: 100%;
}

.lista-exemplos li {
    display: block;
    float: left;
    width: 33%;
}

.lista-gwb {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.lista-gwb img {
    opacity: 0.7;
    width: 100%;
    height: 302.58px;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.lista-gwb img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);

}

/* ------------------------------------------ */
/* EQUITY CROWDFUNDING */
/* ------------------------------------------ */

.equity-crowdfunding {
    background-color: #fff;
    margin-top: 600px;
}

.cluster-logo {
    width: 100%;
    margin-right: 150px;
    margin-bottom: 50px;
}

/* ------------------------------------------ */
/* FORMULARIO */
/* ------------------------------------------ */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

#js-form-response {
    text-align: center;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

#js-form-response.success {
    background: #4ab24f;
}

#js-form-response.error {
    background: #d33a2c;
}

#form-submit-button:disabled {
    background: #d3cec9;
    border-color: white;
}


/* ------------------------------------------ */
/* FOOTER */
/* ------------------------------------------ */

footer {
    background: #333;
    padding: 20px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.footer-nav2 {
    list-style: none;
    float: left;

}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}


.footer-nav li:last-child,
.social-links li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
}

.footer-nav2 li {
    display: inline-block;
}

.footer-nav2 li:last-child {
    text-decoration: none;
    border: 0;
    color: #fff;
    font-size: 150%;
}



.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.sunny-hub-logo {
    width: 100%;
    margin-left: 350px;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 180%;
}

.fb:hover {
    color: #3b5998;
}

.insta:hover {
    color: #517fa4;
}

.linkedin:hover {
    color: #007bb6;
}

.youtube:hover {
    color: #bb0000;
}

.zap {
    color: #25D366;
    font-size: 150%;
}